h2{
    text-align: center;
}
p{
    text-align: center;
}
.assignment-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  gap: 25px;
}

.assignment-card {
  background: gold;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.assignment-card:hover {
  transform: translateY(-6px);
}

.assignment-card h3 {
  color: #007bff;
  margin-bottom: 10px;
}

.assignment-card p {
  margin-bottom: 20px;
  color: #555;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 8px 15px;
  background: #007bff;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.btn:hover {
  background: #0056b3;
}

.btn-outline {
  padding: 8px 15px;
  border: 2px solid #007bff;
  color: #007bff;
  border-radius: 6px;
  text-decoration: none;
}

.btn-outline:hover {
  background: #007bff;
  color: white;
}

/* Dark Mode */
body.dark .subject-assignments {
  background: #1e1e1e;
}

body.dark .assignment-card {
  background: #2b2b2b;
  color: white;
}

body.dark .assignment-card p {
  color: #ccc;
}

/* Mobile */
@media (max-width: 768px) {
  .btn-group {
    flex-direction: column;
  }
}